<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConString" connectionString="Data Source=DESKTOP-3SC2RIJ\\SQLEXPRESS;Initial Catalog=MedSoftDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>